body{
    text-align: center;
    margin: 0;
}
#connect4{
    background-color: coral;
    display: inline-block;
}
.col{
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}
.col.empty{
    cursor: pointer;
}
.next-red{
    background-color: rgba(232, 28, 28, 0.5);
}
.col.red{
    background-color: red;
}
.next-yellow{
    background-color: rgba(182, 255, 12,0.5);
}
.col.yellow{
    background-color: yellow;
}